.hidden {
  display: none;
}

.intro-picture-container img {
  width: auto;
  height: 60vh;
  border: 8px solid #ffffff;
  border-radius: 50%;
}

.intro-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #ffffff;
  background: linear-gradient(-45deg, rgb(231, 63, 0), rgb(0, 0, 0), rgb(231, 63, 0));
  background-size: 300% 300%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

.intro-text {
  width: 100%;
  border-left: 8px solid #ffffff;
  padding-left: 5%;
}

.intro-text h1 {
  line-height: 150%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 4em;
  font-weight: bold;
}

.intro-text h2 {
  font-family: Arial, sans-serif;
  font-size: x-large;
  font-weight: lighter;
}

.intro-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  transition: 2s;
  padding: 30px 10px;
  background: linear-gradient(to right, rgba(231, 63, 0, 1), rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

#navbar-name {
  font-size: 25px;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
